/* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CrudComponent {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CrudComponent h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #0056b3;
}

.CrudComponent form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.CrudComponent form input,
.CrudComponent form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.CrudComponent form input:focus,
.CrudComponent form textarea:focus {
  border-color: #0056b3;
}

.CrudComponent form button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CrudComponent form button:hover {
  background-color: #0056b3;
}

.CrudComponent ul {
  list-style: none;
  padding: 0;
}

.CrudComponent li {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.CrudComponent li h2 {
  margin-top: 0;
  color: #333;
}

.CrudComponent li p {
  margin: 10px 0;
  color: #555;
}

.CrudComponent li button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CrudComponent li button:hover {
  background-color: #0056b3;
}
